body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: body;
}
h1{
	font-size: 20px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display: none;
}
.red{
	background-color: #DA291C;
}
.blue{
	background-color: #004170;
}
.gold{
	background-color: #CEAB5D;
}
.first-row{
	width: 100%;
	height: 10%;
	display: flex;
	background-color: #grey;
}
.back-next{
	width: 30%;
	height: 100%;
	display: flex;
	background-color:#004170;
}
.shuffle{
	width: 40%;
	height: 100%;
	display: flex;
	background-color:#DA291C;
}
.second-row{
	width: 100%;
	height: 90%;
	display: flex;
	background-color: #ab2a1b;
}

.info-box{
	width: 30%;
	height: 100%;
	display: block;
	background-color: #CEAB5D;
}
.about{
	width: 100%;
	height: 60%;
	display: flex;
	background-color:#CEAB5D;
}
.team-logo{
	width: 100%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#004170 ;
}
.contain-image{
	max-width: 90%;
	max-height: 90%;
}
.center-horizontal{
	justify-content: center;
}
.center-vertical{
	align-items: center;
}
.player-box{
	width: 40%;
	height: 100%;
	display: block;
}
.player-info{
	width:100%;
	height:50%;
	display: flex;
}
.full-body{
	width: 30%;
	height: 100%;
	display: flex;
	background-color: #CEAB5D;
}
@media screen and (max-width: 800px) {
	body {
		width: 100%;
		height: 130%;
		margin: 0;
		display: block;
	}
	.first-row{
	width: 100%;
	height: 10%;
	display: flex;
	background-color: #grey;
	}	
	.back-next{
		width: 40%;
		height:100%;
		display: flex;
		background-color:#004170;
	}
	.shuffle{
		width: 20%;
		height: 100%;
		display: flex;
		background-color:#DA291C;
	}
	.second-row{
		width: 100%;
		height: 110%;
		display: block;
		background-color: #ab2a1b;
	}

	.info-box{
		width: 100%;
		height: 30%;
		display: flex;
		background-color: #CEAB5D;
	}
	.about{
		width: 60%;
		height: 100%;
		display: flex;
		background-color:#CEAB5D;
	}
	.team-logo{
		width: 40%;
		height: 100%;
		display: flex;
		background-color:#8bb9da;
	}
	.player-box{
		width: 100%;
		height: 50%;
		display: flex;
	}
	.player-info{
		width:50%;
		height:100%;
		display: flex;
	}
	.contain-image{
	max-width: 90%;
	max-height: 90%;
	}
	.center-horizontal{
		justify-content: center;
	}
	.center-vertical{
		align-items: center;
	}
	.full-body{
	width: 100%;
	height: 40%;
	display: flex;
	background-color: #CEAB5D;
	}
}
@media screen and (max-width: 600px) {
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		display: block;
	}
	.first-row{
		width: 100%;
		height: 25%;
		display: block;
	}	
	.back-next{
		width: 100%;
		height:30%;
		display: flex;
		background-color:#004170;
	}
	.shuffle{
		width: 100%;
		height: 40%;
		display: flex;
		background-color:#DA291C;
	}
	.second-row{
		width: 100%;
		height: 225%;
		display: block;
		background-color: #ab2a1b;
	}

	.info-box{
		width: 100%;
		height: 30%;
		display: block;
		background-color: #CEAB5D;
	}
	.about{
		width: 100%;
		height: 60%;
		display: flex;
		background-color:#CEAB5D;
	}
	.team-logo{
		width: 100%;
		height: 40%;
		display: flex;
		background-color:#DA291C;
	}
	.player-box{
		width: 100%;
		height: 40%;
		display: block;
	}
	.player-info{
		width:100%;
		height:50%;
		display: flex;
	}
	.contain-image{
		max-width: 90%;
		max-height: 90%;
	}
	.contain-two{
		max-width: 100%;
		max-height: 100%;
	}
	.center-horizontal{
		justify-content: center;
	}
	.center-vertical{
		align-items: center;
	}
}